body
{
	margin: 0px;
}

#wrapper
{
}

.row-large
{
	width:1084px;
	margin:0 auto;
}

.row-midlarge
{
	width:900px;
	margin:0 auto;
}
.row-mid
{
	width:850px;
	margin:0 auto;
}
#wrapper #header
{
	background-color:#373737;
	height:60px;
}
#content
{
	min-height: 670px;;
}

.progress-new
{
	background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 159px;
}
#footer
{
	vertical-align: bottom;
	height: 30px;
	text-align: center;
	padding-top:40px;
	font-family: "OpenSans";
	font-size: 16px;
	color: #888888;
	clear:left;
}

#wrapper #links
{
	background-color:#f1f1f1;
	height:60px;
}

#wrapper #header #header-logo
{
	width:250px;
	float:left;
	height:100%;
}

#wrapper #header #header-logo img
{
	margin: 20px 0 0 0;
}

#wrapper #header #header-menu
{
	float:right;
    height: 60px;
    min-width: 650px;
}


#login-top
{
	height: 45px;
	width: 160px;
	margin: 0 auto;
	padding-top: 20px;
}

#lg-topr
{
	height: 45px;
	width: 200px;
	margin: 0 auto;
	padding-top: 20px;
}

#lg-middle
{
	height: 200px;
	margin-bottom:5px;
}

#lg-bottom
{
	height: 100px;
}

#content #content-right #video
{
	height:327px;
	background-color:#f1f1f1;
}

#content #content-right #video #video-frame
{
	
}
#left-top
{
	height:327px;
}
.box
{
	margin-top:70px;
	height:400px;
	background-color:#f1f1f1;
}

.box-header
{
	background-color:#a7b1b3;
	height:10px;
	padding:20px;
	color:#ffffff;
	 font-weight: 600;
}

.box-content
{
	padding:20px;
}

.small-box
{
	height:120px;
	width:120px;
	background-color:#FFF;
	border:solid;
	border-width:thin;
	border-color:#a7b1b3;
	float:left;
	margin-left:10px;
	margin-top: 10px;
}

.small-box p
{
	text-align:center;
	color: #43a5b4;
	margin-bottom:7px;
}

.accordin-header
{
	height:40px;
	background-color:#e4e4e4;
	border-bottom:solid;
	border-bottom-width:thin;
	border-bottom-color:#f1f1f1;

}
.none
{
	list-style-type: none;
}
.accordin-header img
{
	float:left;
	margin-bottom:0px;
}

.accordin-header span
{
	line-height:50px;
	font-size:14px;
	
}

.width10
{
	width:10px;
}
.width150
{
	width:150px;
}
.width500
{
	width:500px;
}
.accordin-main
{
	height:100px;
	background-color:#FFF;
}

.accordin-main ul li
{
	list-style-type: none;
}

#delete-text
{
	font-family:OpenSans;
}